# Xcode - AGGRESSIVE
**/xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/swiftpm/
project.xcworkspace/xcshareddata/
.swiftpm/

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/

# Mac
.DS_Store

# IDEs
.vscode/
.idea/
