# Xcode
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
project.xcworkspace/xcshareddata/swiftpm/Package.resolved

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Mac
.DS_Store

# IDEs
.vscode/
.idea/
