<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location to show nearby meets</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>TableUp uses your location to help you discover nearby events</string>
	<key>NSCameraUsageDescription</key>
	<string>Take photos for your profile and meets</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Upload photos for your profile and meets</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.314851829312-mohis2ao00319e69quminpp3bejle3oa</string>
				<string>app-1-314851829312-ios-919b15d5d7c790e0a3a1a5</string>
			</array>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>